/* CABEÇALHO */
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /*mantem a posição fixa do elemento*/
    top: 0%; /*informa a posição que o elemento ficará fixo*/
}

.cabecalho__pesquisar__item {
    display: none;
}

/* SEÇÃO SUPERIOR */
.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap; /*propriedade para formatar textos e evitar a quebra de linha*/
    overflow: scroll; /*para aplicar a barra de rolagem*/
    gap: 15px;

}

/* RODAPE */
.rodape__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

@media screen and (min-width: 834px){
    /* CABECALHO */
    .cabecalho__pesquisar__item {
    display: block;
    }

    /* RODAPE */
    .rodape__container {
        justify-content: space-between;
    }
}