@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ /*criaçao de variáveis no css no escopo global*/
    --primaria: #F5F5F5;
    --secundaria: #424242; 
    --terciaria: #48CFCB;
    --hover: #229799;

    --fonte-primaria: 'Krona One', sans-serif; 
    --fonte-secundaria: 'Montserrat', sans-serif; 
}

* { /*serve para fazer uma configuração global de estilo para todo o documento*/
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100vh;  retirado essa configuração para que o conteúdo nao ultrapasse a tela*/ 
    box-sizing: border-box;
    background-color: var(--primaria); 
    color: var(--secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secundaria);
    text-decoration: none;

    /* color: #1D272F;
    text-align: center;
    padding: 10px 15px;
    border-top: 1px solid #1D272F;
    border-left: 1px solid #1D272F;
    border-right: 1px solid #1D272F;
    border-radius: 10px 10px 0px 0px;
    width: 90px;  */
}

.cabecalho__menu__link:hover{
    text-decoration: underline;
    color: var(--hover);
}
/* .cabecalho__menu__link:hover {
    background-color: #FBDF04;
    width: 120px;
    font-weight: bold;
    transition: 0.2s;

} */
 
.apresentacao {
    padding: 5% 15%;

    display: flex; /* Isto define um flex container; inline ou block dependendo do valor dado. Ele habilita um flex context para todos os seus filhos diretos.*/
   
    align-items: center; /* alinha os itens baseados no alinhamento entre eles mesmos */
    justify-content: space-between; /*no exemplo deles é space-between*/
    
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.destaque-titulo {
    color:var(--terciaria);
    font-weight: 600;
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__paragrafo a {
    text-decoration: none;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__link__navegacao {
    /* background-color: #FBDF04; */
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid var(--terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secundaria);
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
    background-color: var(--terciaria);
    
}

.apresentacao__link__link:hover {
    border: 1px solid var(--secundaria);
    background-color: var(--hover);
    color: var(--secundaria);
    width: 394px;
    transition: 0.1s;
}

.foto_perfil {
    width: 50%;
    margin: 50px;
    border-radius: 20px;
}

.rodape {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--terciaria);
    color: var(--secundaria);
    padding: 24px;
    text-align: center;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse; 
    }
}