@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { /*serve para fazer uma configuração global de estilo para todo o documento*/
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100vh;  retirado essa configuração para que o conteúdo nao ultrapasse a tela*/ 
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #1D272F;
}

.cabecalho {
    padding: 2% 0% 0% 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserat', sans-serif;
    font-size: 24px;
    font-weight: 600;

    /* color: #1D272F;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-top: 1px solid #1D272F;
    border-left: 1px solid #1D272F;
    border-right: 1px solid #1D272F;
    border-radius: 10px 10px 0px 0px;
    width: 90px;  */
}

.cabecalho__menu__link:hover {
    /* background-color: #FBDF04;
    width: 120px;
    font-weight: bold;
    transition: 0.2s; */

}
.apresentacao {
    display: flex; /* Isto define um flex container; inline ou block dependendo do valor dado. Ele habilita um flex context para todos os seus filhos diretos.*/
   
    align-items: center; /* alinha os itens baseados no alinhamento entre eles mesmos */
    justify-content: space-between; /*no exemplo deles é space-between*/
    
    padding: 5% 15%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.destaque-titulo {
    color: #FFD700;
    font-weight: 600;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links__subtitulo{
    font-family: 'krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__link__link {
    /* background-color: #FBDF04; */
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid #FBDF04;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
    
}

.apresentacao__link__link:hover {
    border: 1px solid #1D272F;
    background-color: #FBDF04;
    color: #1D272F;
    width: 394px;
    transition: 0.1s;
}

.foto_perfil {
    width: 450px;
    margin: 50px;
    border-radius: 20px;
    
 /*adicionar estilos para formatar a imagem*/
}

.rodape {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    background-color: #FBDF04;
    color: #1D272F;
    padding: 24px;
    text-align: center;
}