:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #000000;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain; /*vai preencher todo o container (que no caso é a section)*/
    text-align: center;
    align-items: center; /*como o grid está em coluna, a propriedade coloca o item alinhado no centro dessa coluna */

}

.container {
    height: 100vh;
    display: grid; /*ele vai separando os elementos. O padrao é por linha*/
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;

}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao_secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    display: block;
    color: var(--branco-principal);
    text-decoration: none;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}
