body {
    display: grid;

    /*define as areas onde os grid items serão posicionados*/
    grid-template-areas: 
    "aside header"
    "aside main"
    "player player";

    grid-template-columns: auto 1fr; /*define a largura automática da coluna que se baseará na largura dos elemento. Neste caso seria a largura do menu lateral.*/
}                                    /*1fr é franção e divide o espaço disponível igualmente*/

.cabecalho {
    grid-area: header;  /*define que esta classe será posicionada no header do grid-template*/
}

.menu-lateral {
    grid-area: aside; /*define que a classe menu-lateral será posicionada na área aside do grid-template*/
}

.principal {
    grid-area: main; /* define que a classe principal sera posicionada na área main do grid template*/
}

.secao-player {
    grid-area: player;
}

