/*
Typical Device Breakpoints
--------------------------
    Dispositivos muito pequenos (celulares): até 600px
        @media only screen and (max-width: 600px) {...}

    Dispositivos pequenos (tablets portrait / celulares grandes): de 600px para cima (até 768px)
        @media only screen and (min-width: 600px) {...}

    Dispositivos médios (tablets landscape): 768px para cima (até 992px)
        @media only screen and (min-width: 768px) {...}

    Dispositivos largos (desktops/ laptops): 992px para cima (até 1200px)
        @media only screen and (min-width: 992px) {...}

    Dispositivos extra largos (grandes laptops e monitores): 1200px para cima 
        @media only screen and (min-width: 1200px) {...}
*/


/*______________________para iphone SE______________________*/

@media screen and (max-width: 375px){

    /*studio*/
    .coke-studio {
        height: 480px;
    }

    .coke-studio__conteudo {
        padding-top: 15.5rem;
    }
    .coke-studio__titulo {
        font-size: 2.1rem;
        margin-bottom: 0.8rem;
        width: 72%;
    }

    .coke-studio__texto {
        font-size: 0.9rem;
        width: 66%;
    }
    .seta {
        background-size: contain;
        padding: 1.5rem;
        margin: 6%;
    }

    /*saiba mais*/
    .saiba-mais {
        margin: 2rem 1rem 9.5rem 1rem;
    }

    .saiba-mais__titulo {
        font-size: 2.1rem;
        line-height: 2.9rem;
    }

    /*ofertas*/
    .ofertas {
        top: 955px;
        margin: 1rem ;
    }

    .ofertas__titulo {
        font-size: 1.5rem;
    }

    /*coke-sem-acucar*/

    /*localizacao*/
    .localizacao {
        margin: 1rem 1rem 2rem 1rem;
    }

    .localizacao__titulo {
        margin: 1.7rem;
        top: 62%;
    }

    .localizacao__link {
        left: 21%;
    }

    /*resgate*/
    .resgate {
        height: 33vh;
        margin: 0 0.5rem;
    }

    .resgate__conteudo {
        margin: 0.5rem 3rem;
    }

    .resgate__titulo {
        padding-right: 8.5rem;
        font-size: 1.3rem;
        margin: 0rem;
    }

    .resgate__texto {
        margin: 0.5rem 0rem 1rem 0rem;
        padding-right: 8rem;
    }

    /*cadastro*/
    .cadastro {
        margin: 0rem 1rem 3.5rem 1rem;
        height: 52vh;
    }

    .cadastro__titulo {
        top: 70%;
    }

    .cadastro__link {
        left: 24.5%;
    }

    /*rodape*/
    .rodape__logo {
        margin: 3rem 1rem;
    }

    .rodape__lista {
        margin: 0 1rem;
    }

    .item__texto {
        font-size: 1rem;
    }

    .contato__expediente {
        margin-left: 0rem;
    }

    .rodape__asterisco {
        margin: 0 1rem 2rem 1rem;
    }

    .navegacao__lista {
    left: 66%;
    font-size: 0.9rem;
    }

    .institucional__lista {
        left: 49%;
        font-size: 0.9rem;
    }
}

/*______________________para iphone XR______________________*/

@media screen and (min-width:414px) and (max-width: 429px){
    .coke-studio {
        height: 645px;
    }

    .coke-studio__conteudo {
        padding-top: 21rem;
    }

    .coke-studio__titulo {
        margin-bottom: 1.5rem;
        font-size: 2.3rem;
        width: 70%;
    }

    .seta {
        margin: 14%;
    }

    .ofertas {
        top: 1124px;
    }

    .resgatpe {
    margin:  0 1rem;
    background-size: cover;
    }

    .navegacao__lista {
    left: 66%;
    }

    .institucional__lista {
    left: 52%;
    }
}

/*______________________para iphone 12 pro______________________*/
@media screen and (min-width:389px) and (max-width: 413px){

    .coke-studio {
        height: 607px;
    }

    .coke-studio__conteudo {
        padding-top: 19.875rem;
    }

    .coke-studio__titulo {
        font-size: 2.2rem;
        margin-bottom: 0.875rem;
    }

    .seta {
        margin: 14%;
        
    }
    
    .saiba-mais {
        /* margin: 2rem 1.5rem 8rem 1.5rem; */
    }
   

    .ofertas {
        top: 1130px;
    }

    .localizacao__titulo {
        margin: 1rem;
        top: 65%;
    }

    .localizacao__link {
        left: 21%;
    }

    .resgate{
        background-size: cover;
        margin: 0 0.5rem;
    }

    .resgate__titulo {
        margin: 0rem;

    }
    .cadastro {
        height: 42vh;
    }
    .cadastro__link {
        left: 25%;
    }

    .navegacao__lista {
        left: 64%;
        }

    .institucional__lista {
        left: 49%;
        }
    }

/*______________________DESKTOP 1440______________________*/
@media screen and (min-width: 1440px) {
    .container {
        justify-content: flex-start;
        /* gap: 6rem; */
    }

    .cabecalho__imagem {
        padding: 2.125em 6.25rem 2.125rem 13.5rem;
    } 

    .header__nav {
        color: var(--cor-de-fundo);
        display: flex;
        justify-content: flex-start;
        gap: 3.75rem;
    }

    .header__link__entrar {
    margin-left: 2.5rem;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .coke-studio{
        
    }
  
}