/*
Typical Device Breakpoints
--------------------------
    Dispositivos muito pequenos (celulares): até 600px
        @media only screen and (max-width: 600px) {...}

    Dispositivos pequenos (tablets portrait / celulares grandes): de 600px para cima (até 768px)
        @media only screen and (min-width: 600px) {...}

    Dispositivos médios (tablets landscape): 768px para cima (até 992px)
        @media only screen and (min-width: 768px) {...}

    Dispositivos largos (desktops/ laptops): 992px para cima (até 1200px)
        @media only screen and (min-width: 992px) {...}

    Dispositivos extra largos (grandes laptops e monitores): 1200px para cima 
        @media only screen and (min-width: 1200px) {...}
*/


/*para iphone SE*/
@media screen and (max-width: 390px){

    /*studio*/
    .coke-studio {
        height: 560px;
    }

    .coke-studio__conteudo {
        padding-top: 17.5rem;
    }
    .coke-studio__titulo {
        font-size: 2.4rem;
    }

    .coke-studio__texto {
        font-size: 1rem;
        width: 66%;
    }
    .seta {
        margin: 4%;
    }

    /*saiba mais*/
    .saiba-mais {
        margin: 1rem 1rem 9.5rem 1rem;
    }

    .saiba-mais__titulo {
        font-size: 2.1rem;
        line-height: 2.9rem;
    }

    /*ofertas*/
    .ofertas {
        top: 1020px;
        margin: 1rem ;
    }

    .ofertas__titulo {
        font-size: 1.5rem;
    }

    /*coke-sem-acucar*/

    /*localizacao*/
    .localizacao {
        margin: 1rem 1rem 2rem 1rem;
    }

    .localizacao__titulo {
        margin: 1.7rem;
        top: 62%;
    }

    .localizacao__link {
        left: 21%;
    }

    /*resgate*/
    .resgate {
        height: 33vh;
        margin: 0 0.5rem;
    }

    .resgate__conteudo {
        margin: 0.5rem 3rem;
    }

    .resgate__titulo {
        padding-right: 8.5rem;
        font-size: 1.3rem;
        margin: 0rem;
    }

    .resgate__texto {
        margin: 0.5rem 0rem 1rem 0rem;
        padding-right: 8rem;
    }
}
