@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primaria: #00030C;
    --secundaria: #FFFFFF;
    --terciaria: #F9F9F9;
    --quaternaria: #EC2F46;
    --button: #167BF7;
    --copy:#C0C0C0;

    --fonte: 'Inter', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte);
    background-color: var(--primaria);
    /* margin: 0 8%; */
    width: 92vw;
    height: 680px ;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto; 
}

.conteudo__combo {
    width: 92vw;
    height: 680px;
    margin-left: 6%;
    
    /* background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto; */
}

.teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 16px;
    padding-top: 125px;
}

.conteudo__combo__titulo {
    text-align: center;
    color: var(--secundaria);
    margin-bottom: 6px;
    font-size: 1.75rem;
}

.conteudo__combo__imagem {
    margin-bottom: 38px;
}

.conteudo__combo__comboplus {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: var(--secundaria);
    background-color: var(--button);
    border: 1px solid var(--button);
    border-radius: 8px;
    width: 90%;
    padding: 4%;
}

.conteudo__combo__aluraplus{
    text-align: center;
    color: var(--secundaria);
    font-size: 1rem;
    border: 1px solid var(--secundaria);
    border-radius: 8px;
    width: 90%;
    padding: 4%;
}

.conteudo__combo__asterisco {
    color: var(--copy);
    font-size: 0.75rem;
    margin-top: -6px;
}

.conteudo__assista {
    display: flex;
    align-items: center;
    gap: 69px;
    margin-left: 10%;
}

.conteudo__assista__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conteudo__assista__titulo {
    color: var(--secundaria);
    font-size: 3rem;
}

.conteudo__assista__paragrafo{
    color: #F9F9F9;
}




.about {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.about__link {
    text-decoration: none;
    color: var(--secundaria);
    font-size: 1rem;
}

.about__link:hover {
    color: var(--quaternaria);
}

footer{
    color: var(--copy);
    font-size: 0.875rem;
    text-align: center;
}