@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primaria: #00030C;
    --secundaria: #FFFFFF;
    --terciaria: #F9F9F9;
    --quaternaria: #EC2F46;
    --copy:#C0C0C0;

    --fonte: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte);
    background-color: var(--primaria);
}

.about {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.about__link {
    text-decoration: none;
    color: var(--secundaria);
    font-size: 1rem;
}

.about__link:hover {
    color: var(--quaternaria);
}

footer{
    color: var(--copy);
    font-size: 0.875rem;
    text-align: center;
}