@import url("header.css");

:root {
    --cor-de-fundo: #FFFFFF;
    --cinza: #D9D9D9; 
    --preto-acinzentado: #0B0B0B;
    --fundo-menu: #DB3534;
    --cor-button: #F40000;
}

body{
    background-color: var(--cinza);
}