//Variáveis
    //cores
    $cor-primaria: #0C0421;
    $cor-secundaria: #4E75FF;
    $cor-terciaria: #85A0FF;
    $cor-quaternaria: #CAD4FA;
    $cor-default: #CAD4FA;
    $cor-branco: #FFFFFF;
    $gradiente-primeiro: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
    $gradient-secundario: linear-gradient(180deg, rgba(255,255,255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);

    //fontes
    $ft-textos:'Montserrat', sans-serif;
    $ft-titulos:'Krona One', sans-serif;

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background: $gradiente-primeiro;
    padding: 2rem;

    nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .linha{
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex; /* para deixar tudo numa linha só*/
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                color: $cor-primaria;
                font-weight: 500;
                font-family: $ft-textos;
                text-decoration: none;
            }
        }
    }

    #home {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1040px;
        width: 80%;

        .textos-home {
            max-width: 464px;

            h1{
                color: $cor-primaria;
                font-family: $ft-titulos;
                font-size: 42px;
                font-weight: 400;
                margin-bottom: 2rem;

                span {
                    color: $cor-secundaria
                }
            }

            button {
                background: $cor-secundaria;
                border: none;
                border-radius: 40px;
                color: $cor-branco;
                font-family: $ft-textos;
                font-size: 22px;
                font-weight: 600;
                padding: 1.5rem;
                width: 284px;
            }
        }

        .img-home {
            max-width: 474px;

            img{
                width:100%
            }
        }
    }
}